body {
	font            : $mainFont;
	margin          : 0;
	padding         : 0;
} //body

#{headings()} {
	font            : $headFont;
	color           : #FFF;
	margin          : 0 0 20px;
} //headings

ul {
	list-style      : none;
	margin          : 0;
	padding         : 0;
} // ul

p {
	margin-bottom   : 20px;

	&:last-child {
		margin-bottom: 0;
	} // :last-child
} //p

a {
	text-decoration : none;
} // a

strong {
	font-family: 'Proximanova Bold';
} // strong

table {
	border          : 0;
	border-collapse : collapse;
	width           : 100%;
} // table

img {
	display         : block;
	max-width       : 100%;
} // img

.wrap {
	@include container();

	@include susy-breakpoint($tablet, 6) {
		@include show-grid();
	} // bp($tablet)

	@include susy-breakpoint($desktop, 12) {
		@include show-grid();
	} // bp($desktop)
} // .wrap