@font-face {
  font-family: 'Proximanova Light';
  src: url('../fonts/Proxima Nova Alt Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima Nova Alt Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima Nova Alt Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima Nova Alt Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima Nova Alt Light.svg#fd08afd0876a149d08f2ab855a250241') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
}

@font-face {
  font-family: 'Proximanova Semibold';
  src: url('../fonts/Proxima Nova Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima Nova Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima Nova Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima Nova Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
}

@font-face {
  font-family: 'Proximanova Bold';
  src: url('../fonts/Proxima Nova Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima Nova Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima Nova Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima Nova Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima Nova Bold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
}

@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
}